URL_CAFEF=YOUR_URL
URL_VNECONOMY=YOUR_URL
URL_VIETSTOCK=YOUR_URL
VNSTOCK_API_KEY=YOUR_KEY

SUPABASE_URL=YOUR_URL
SUPABASE_SERVICE_ROLE_KEY=YOUR_KEY
SUPABASE_NEWS_TABLE=YOUR_TABLE
SUPABASE_STOCKS_TABLE=YOUR_TABLE
SUPABASE_GEMINI_TABLE=YOUR_TABLE

GEMINI_API_KEY=YOUR_KEY
GEMINI_VERSION=YOUR_VERSION 

TELEGRAM_BOT_TOKEN=YOUR_TOKEN
TELEGRAM_GROUP_CHAT_ID=YOUR_GROUP_CHAT_ID

SENSITIVE_KEYWORDS="keyword1,keyword2,keyword3"

SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SENDER_EMAIL=YOUR_SENDER_EMAIL_HERE
SENDER_PASSWORD=YOUR_16_CHARACTER_APP_PASSWORD_HERE
RECEIVER_EMAIL=YOUR_RECEIVER_EMAIL_HERE