URL_CAFEF=YOUR_URL
URL_VNECONOMY=YOUR_URL
URL_VIETSTOCK=YOUR_URL
VNSTOCK_API_KEY=YOUR_KEY

SUPABASE_URL=YOUR_URL
SUPABASE_SERVICE_ROLE_KEY=YOUR_KEY
SUPABASE_NEWS_TABLE=YOUR_TABLE
SUPABASE_STOCKS_TABLE=YOUR_TABLE
SUPABASE_GEMINI_TABLE=YOUR_TABLE

GEMINI_API_KEY=YOUR_KEY
GEMINI_VERSION=YOUR_VERSION 